<div class="card">
  <div class="card-header text-center">
    Filtros
  </div>
  <div class="card-body col">
    <div class="input-group mb-2">
      <span class="input-group-text">R$</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest real)" placeholder="De... ">
      <span class="input-group-text">,00</span>
    </div>
    <div class="input-group mb-1">
      <span class="input-group-text">R$</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest real)" placeholder="Até... ">
      <span class="input-group-text">,00</span>
    </div>
    <div class="form-group my-2 float-end">
      <button type="button" class="btn btn-dark text-light">Filtrar</button>
    </div>
  </div>
</div>
